<tr scope="row">
  <td><%= project.name %></td>
  <td><%= !project.stand.nil? ? project.stand.number : 'Stand no asignado'%></td>
  <td><%= !project.professor.nil? ? project.professor.user.name : 'Profesor no asignado' %></td>
  <td>
    <%= link_to common_assignments_path(judge_id: params[:judge_id], project_id: project.id), method: :create, data: { confirm: "¿Estás seguro que deseas asignar este proyecto a #{Judge.find(params[:judge_id]).user.name}?"} do %>
      <span style="color: green"><i class="fa fa-angle-double-right"></i> Asignar</span>
    <% end %><br />
  </td>
</tr>