<div class="container login_page">
  <h1>Inicia sesión con tu cuenta del Tec ó con tu cuenta de Hotmail</h1>
  <a class="btn btn-lg btn-primary" href="<%= @login_url %>" role="button" id="connect-button">Iniciar sesión con Outlook</a>
</div>
<%= render 'layouts/student/footer' %>