<div class="container login_page" style="min-height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div>
    <h1>Inicia sesión con tu cuenta del Tec ó con tu cuenta de Hotmail</h1>
    <a class="btn btn-lg btn-primary" href="<%= @login_url %>" role="button" id="connect-button">Iniciar sesión con Outlook</a>
  </div>
</div>
<%= render 'layouts/judge/footer' %>