<h1>Carreras</h1>

<%= link_to "Agregar carrera", new_admin_major_path, class: "btn btn-primary btn-block text-white"%>
<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Carrera</th>
    </tr>
  </thead>

  <tbody>
    <%= render @majors %>
  </tbody>
</table>

<br>