<% if @user.project.errors.any? || @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Hay <%= pluralize((@user.project.errors.count + @user.errors.count), "datos") %> incorrectos.
      <button class="close" data-dismiss="alert">×</button>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <% @user.project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
