<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
			<h1>Perfil</h1>
		</div>
    <div class="col-12 col-md-6 offset-md-3">
      <%= "Estudiante actual: #{current_user.name}" %>
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <%= "Correo: #{current_user.email}" %>
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <%= "Departamento: #{current_user.userable.department.name}" %>
      </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <%= link_to "Editar perfil", professor_edit_path(current_user.id), class: 'btn btn-primary btn-block text-white' %>
      </div>
  </div>
</div>