<% if @user.errors.any? || @user.judge.errors.any?%>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Hay <%= pluralize(@user.errors.count + @user.judge.errors.count, "datos") %> incorrectos.
      <button class="close" data-dismiss="alert">×</button>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <% @user.judge.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>