<% provide(:title, 'Asistencia') %>

<div class="row">
  <h1>Asistencia de Proyectos</h1>
</div><br />

<div class="container-fluid">
	<% @projects.each do |project| %>
      <%= render 'project', project: project %>
  <% end %>
</div>

<br>