<% if @project.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Hay <%= pluralize(@project.errors.count, "datos") %> incorrectos.
    </div>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>