
<div class="container">

  <div class="row">
    <div class="col">
      <p>
        <strong>Nombre del proyecto:</strong>
        <%= @project.name %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <strong>Email:</strong>
        <%= @project.email %>
      </p>
    </div>
  </div>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>





