
<% @integrantes.each do |integrante| %>
  <tr>
    <td class='table-cell'>
      <%= integrante.second %>
    </td>
    <td class='table-cell'>
      <%= integrante.first %>
    </td>
  </tr>
<% end %>
