<% provide(:title, 'Mis proyectos') %>

<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-centered col-text-centered'>
      <h1>Proyectos</h1>
    </div>
  </div>
  <div class='row'>
    <div class='offset-md-10 col-md-2'>
      <% if can_register_project %>
        <%= link_to 'Nuevo proyecto', new_student_project_path, class: 'btn btn-primary btn-block text-white' %>
      <% end %>
    </div>
  </div>

  <br>

  <div class='row'>
    <div class='col-md-12'>
      <% if @projects.length > 0 %>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Área</th>
              <th>Video URL</th>
              <th>Estatus</th>
              <th>Calif de selección</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render @projects %>
          </tbody>
        </table>
      <% else %>
        <div class='card border-dark mb-3'>
          <div class='card-header'>
            Aviso
          </div>
          <div class='card-body text-dark'>
            <h5 class='card-title'>
              No tienes proyectos registrados
            </h5>
            <p class='card-text'>
              Por el momento no cuentas con proyectos dados de alta, si deseas registrar nuevos proyectos, favor de dar click en 'Agregar proyecto'.
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>
