<% provide(:title, "Jueces") %>

<h1>Jueces</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Departamento</th>
      <th>Procedencia</th>
      <th>Tiene Tableta?</th>
      <th>Áreas de expertise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= render @judges %>
  </tbody>
</table>

<br>