<h1 style="text-align: center;">Asignaciones</h1><br />

<div class="row">
  <div class="col-md-4 col-centered">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col"># Stand</th>
          <th scope="col"></th>
        </tr> 
      </thead>

      <tbody>
        <%= render @assignments %>
      </tbody>
    </table>
  </div>
</div>