<h1>Asignaciones</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Área</th>
      <th>Tipo</th>
      <th>Abstract</th>
      <th colspan="3"></th>
    </tr> 
  </thead>

  <tbody>
    <%= render @projects %>
  </tbody>
</table>