<% provide(:title, 'Categorías') %>

<div class="row">
  <div class="col-md-4">
    <h1>Categorías</h1>
  </div>

  <div class="col-md-8">
    <div class="float-right">
	    <%= link_to "Agregar categoría", new_common_category_path, class: "btn btn-primary btn-block text-white"%>
	  </div>
  </div>

</div><br />

<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Categoría</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @categories %>
  </tbody>
</table>

<br>