<% provide(:title, 'Nueva edición') %>

<div class='container'>
  <div class='row'>
    <div class='col-12 col-text-centered'>
      <h1>Nueva edición</h1>
    </div>
  </div>

  <br>

  <%= render 'form' %>
</div>
