<% provide(:title, 'Editar proyecto') %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: center;">Editar proyecto</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<strong><label>ID del Proyecto: </label></strong>
			<%= @project.id %> 
		</div>
		<div class="col-md-4">
			<strong><label>Stand asignado: </label></strong>
			<%= @project.stand.nil? ? 'No asignado' : @project.stand.number %>
		</div>
		<div class="col-md-4">
			<strong><label>Día asignado</label></strong>
			<%= rand(1..2) %>
		</div>
	</div>
	<%= render 'form' %>
</div>
