<% provide(:title, 'Agregar proyecto') %>

<div class='container'>
	<div class='row'>
		<div class='col-12 col-md-6 offset-md-3'>
			<h1 style='text-align: center;'>Nuevo proyecto</h1>
		</div>
	</div>

	<%= render 'form' %>
</div>