<tr>
	<td><%= link_to expertise_area.area, edit_admin_expertise_area_path(expertise_area) %></td>
	<td>
		<%= link_to admin_expertise_area_path(expertise_area), method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar el área temática?'} do %>
			<span style="color: red"><i class="fa fa-trash"></i> Eliminar</span>
		<% end %>
	</td>
</tr>