<h1>Áreas de Expertise</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Área</th>
    </tr>
  </thead>

  <tbody>
    <%= render @expertise_areas %>
  </tbody>
</table>

<br>