/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 */
/* override bootstrap colors */

$danger: #c94645;
$primary: #0eae9b;

/* ends override bootstrap colors */

@import "bootstrap";
@import "font-awesome";

$dark-section-black: #333;

body {
	min-height: 400px;
   	margin-bottom: 100px;
   	clear: both;
}
.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bottom-padding {
	margin-bottom: 300px;
}

/* MAIN SCREEN CSS */
.banner {
	height: 80vh;
	display: flex;
	align-items: center;
	background-image: image-url('promo1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
	h1 {
		color: $dark-section-black;
		font-weight: 800;
		font-size: 10vh;
	}
}

.h-column {
	text-transform: uppercase;
	font-size: 40px;
	line-height: 1;
	font-weight: 500;
	position: relative;
	padding-bottom: 45px;

	color: $dark-section-black;
	letter-spacing: 2px;
}

.h-column::after {
	content: "";
    display: inline-block;
    width: 70px;
    height: 10px;
    background: $primary;
    position: absolute;
    left: 50%;
	bottom: 0;
	margin-left: -35px;
}

.h-column-alternative::after {
	width: 290px;
	left: 40%;
}

.h-resize {
	font-size: 25px;
}

.dark-section {
	color: white;
	background-color: $dark-section-black;
}
/* ENDS MAIN SCREEN CSS */