/* override bootstrap colors */

$danger: #c94645;
$primary: #0eae9b;

/* ends override bootstrap colors */

$dark-section-black: #333;

@import "bootstrap";
@import "font-awesome";
@import "main_screen";

body {
	min-height: 400px;
   	margin-bottom: 100px;
   	clear: both;
}
.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bottom-padding {
	margin-bottom: 300px;
}

