// Place all the styles related to the MainScreen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* MAIN SCREEN CSS */

.banner {
	height: 100vh;
	display: block;
	align-items: center;
	background-color: $primary;
	opacity: 1;
	margin-top: auto;
	margin-bottom: auto;

	#heroImg {
		opacity: 1;
		position: absolute;
		z-index: 9;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		padding: 40px;
	}

	#myVideo {
		position: relative;
		right: 0;
		bottom: 0;
		min-width: 100%;
		max-height: 100%;
		opacity: 0.5;
		object-fit: fill;
		margin-left: auto;
		margin-right: auto;
		display: block
	}
}

.faq {
	background-color: $primary;
	padding: 25px;
}

.mulFaq {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}

.h-column {
	text-transform: uppercase;
	font-size: 40px;
	line-height: 1;
	font-weight: 500;
	position: relative;
	padding-bottom: 45px;
	color: $dark-section-black;
	letter-spacing: 2px;
}

.h-column::after {
	content: "";
	display: inline-block;
	width: 70px;
	height: 10px;
	background: $primary;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -35px;
}

.h-column-alternative::after {
	width: 290px;
	left: 40%;

	@media only screen and (max-width: 575px) {
		width: 70px;
		left: 50%;
	}
}

.h-resize {
	font-size: 25px;
}

.h-column2::after {
	content: "";
	display: inline-block;
	width: 70px;
	height: 10px;
	background: #fff;
	position: absolute;
	left: 50%;
	bottom: -20px;
	margin-left: -35px;
}

.dark-section {
	color: white;
	background-color: $dark-section-black;
}

.nav-item {
	margin: 10px;
	border: solid 1px #fff;
	border-radius: 5px
}

/* ENDS MAIN SCREEN CSS */