// Place all the styles related to the MainScreen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* MAIN SCREEN CSS */

.banner {
	height: 80vh;
	display: flex;
	align-items: center;
	background-image: image-url('promo1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
	h1 {
		color: $dark-section-black;
		font-weight: 800;
		font-size: 10vh;
	}
}

.h-column {
	text-transform: uppercase;
	font-size: 40px;
	line-height: 1;
	font-weight: 500;
	position: relative;
	padding-bottom: 45px;

	color: $dark-section-black;
	letter-spacing: 2px;
}

.h-column::after {
	content: "";
    display: inline-block;
    width: 70px;
    height: 10px;
    background: $primary;
    position: absolute;
    left: 50%;
	bottom: 0;
	margin-left: -35px;
}

.h-column-alternative::after {
	width: 290px;
	left: 40%;

	@media only screen and (max-width: 575px) {
	    width: 70px;
	    left: 50%;
	}
}

.h-resize {
	font-size: 25px;
}

.dark-section {
	color: white;
	background-color: $dark-section-black;
}

/* ENDS MAIN SCREEN CSS */
