<% provide(:title, 'Comité') %>

<div class="row">
  <div class="col-md-4">
    <h1>Comité</h1>
</div>

<div class="col-md-6"></div>

<div class="float-right">
    <%= link_to "Agregar usuario", new_admin_user_path, class: "btn btn-primary btn-block text-white"%>
</div>
</div><br />

<% if @users.length > 0 %>
<div class="container-fluid">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Aprobar o rechazar</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <br /> <br />
</div>
<% else %>
<div class="row">
  <div class="col-md-12">
    <div class="card border-dark mb-3">
          <div class="card-header">Aviso</div>
          <div class="card-body text-dark">
              <h5 class="card-title">No tienes usuarios registrados</h5>
              <p class="card-text">Por el momento no cuentas con usuarios de tipo "Comité" dados de alta, para crear un usuaro nuevo favor de dar click en "Agregar usuario".</p>
          </div>
        </div>
    </div>
 </div>
<% end %>
