<h1>Usuarios</h1>

<%= link_to "Agregar usuario", new_admin_user_path, class: "btn btn-primary btn-block text-white"%>
<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Tipo de usuario</th>
      <th scope="col">Autorizado</th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>