<h1>Departamentos</h1>

<%= link_to "Agregar departamento", new_common_department_path, class: "btn btn-primary btn-block text-white"%>

<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Departamento</th>
    </tr>
  </thead>

  <tbody>
    <%= render @departments %>
  </tbody>
</table>

<br>
