<h1>Conexión Tec</h1>

<div class='row'>
	<div class='column'>
		<form method="get" action="/judges/new" class="button_to">
			<input value="Registro juez" type="submit" />
		</form>
	</div>
	<div class='column'>
		<button>Login Juez</button>
	</div>
</div>

<div class='row'>
	<div class='column'>
		<form method='get' action='/projects/new' class='button_to'>
			<input value="Registro Proyecto" type="submit"/>
		</form>
	</div>
	<div class='column'>
		<button>Login Proyecto</button>
	</div>
</div>