<h1>Conexión Tec</h1>

<div class='row'>
	<div class='column'>
		<button>Registro Juez</button>
	</div>
	<div class='column'>
		<button>Login Juez</button>
	</div>
</div>

<div class='row'>
	<div class='column'>
		<button>Registro Proyecto</button>
	</div>
	<div class='column'>
		<button>Login Proyecto</button>
	</div>
</div>